* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b061f;
}

.spider {
  position: absolute;
  top: 0;
  animation: animateSpider 15s ease-in-out infinite;
}

@keyframes animateSpider {
  0%,
  100% {
    transform: translateY(-500px);
  }
  50% {
    transform: translateY(0px);
  }
}

.pumpkin01 {
  position: absolute;
  top: 100px;
  right: 200px;
  animation: animatePumpkin 8s ease-in-out infinite;
}

@keyframes animatePumpkin {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
}

.pumpkin02 {
  position: absolute;
  bottom: 20px;
  left: 50px;
  animation: animatePumpkin 4s ease-in-out infinite;
  scale: 0.5;
}

.spiderWeb {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: screen;
}
